html {
    background: url("/app/img/bg.gif") repeat-y scroll center top #EEEEEE;
}

body {
	background-color: transparent;
    padding-top: 0px;
    font-family: Arial,"Helvetica";
}

.container {
    max-width: 960px;
}

.header-home .btn-group-justified {
	margin-top: 30px;
}

.header-search {
	margin-bottom: 10px;
}

.header-search .btn-group-justified {
	margin-top: 10px;
}

.header-home .logo {
	text-align: center;
}

.home-box {
	margin-top: 20px;
}

.add-classified {
	padding: 10px 1em 10px 1em;
}

.adm1 {
	list-style-type: none;
	text-align: right;
	margin-right: 10px;
	font-size: 16px;
	line-height: 19px;
}

.adm1 a:hover {
    text-decoration: none !important;
	}

.adm1 a:hover {
    background-color: #D6E9C6;
    border-radius: 10px 10px 10px 10px;
    display: inline-block;
    padding: 3px 7px;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
    text-decoration: none !important;
}

.searchlist .row:not(:last-child) {
	border-bottom: 1px solid #cccccc;
	padding: 10px 0px 10px 0px;
}

.searchlist .row:last-child {
	padding: 10px 0px 0px 0px;
}

.searchitem .meta b {
	float: left;
}

.searchitem p {
	margin-bottom: 0px;
}

.searchitem h2 {
	margin-top: 8px;
	margin-bottom: 5px;
}

.searchitem .meta {
	text-align: right;
}

.searchitem .panel-body {
	padding-top: 0px;
}

.searchitem .meta li {
	background-color: #F7F5FA;
}

.searchitem .gallery div {
	padding-right: 8px;
	padding-left: 8px;
}

.searchitem .breadcrumbs a {
	color: #ffffff;
}

#search .dropdown-menu {
	height: 200px;
	overflow: auto;
}

.breadcrumb {
	margin-bottom: 0px;
	background-color: transparent;
}

.breadcrumb a {
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
}

#mapIta {
    background: url("/app/img/italia.gif") no-repeat scroll 0 0 transparent;
    height: 400px;
    width: 310px;
}


footer {
    color: #6B6B6B;
    margin: auto;
    text-align: left;
    width: 980px;
}

#footer .nav a {
	padding: 5px 5px 5px 5px;
}

#footer_top {
    border-bottom: 1px solid #A6A69A;
    float: left;
    font-size: 10px;
    padding: 5px 0 5px 3px;
}

#footer_main {
    border-bottom: 1px solid #A6A69A;
    color: #6B6B6B;
    float: left;
    font-size: 10px;
    padding: 5px 0 5px 3px;
}

#footer_bottom {
    color: #6B6B6B;
    float: left;
    font-size: 10px;
    margin: 0;
    padding: 5px 0 20px 3px;
}

span.ok, span.ko {
    font-size: 26px;
    margin-top: -2px;
    padding: 0px 4px 0px 4px;
}

input.ng-valid.ng-dirty, textarea.ng-valid.ng-dirty, select.ng-valid.ng-dirty {
    background-color: #78FA89;
}

input.ng-invalid.ng-dirty, textarea.ng-invalid.ng-dirty, select.ng-invalid.ng-dirty {
    background-color: #FA787E;
}

#classified textarea {
	height: 300px;
}

.row.warning {
    background-color: #FCF8E3;
    border-color: #FBEED5;
    color: #C09853;
}