<div class="panel panel-primary">
	<div class="panel-body" ng-hide="resource">
  		<div class="spinner">
			<div class="progress progress-striped active">
				<div class="progress-bar"  role="progressbar" 
					aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
					<span class="sr-only"></span>
				</div>
			</div>
		</div>
	</div>
	
	<div class="panel-body" ng-show="resource">
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
				<h3>Recupera la tua password</h3>
				<p>Inserisci l'indirizzo email che hai utilizzato in fase di registrazione</p>
				
				<form class="form-horizontal" action="/user/rest" id="passwordrecovery" 
					name="passwordrecovery" validation data-validationsuccess='success' 
					data-validationmodel="params" data-validationmodelinit="reset" 
					data-validationerror='error' data-validationrequestadata="prepareRequestParams"  >

					<div class="form-group" ng-show="(passwordrecovery.csrf.$dirty && passwordrecovery.csrf.$invalid) || (response && response.message)">
				        <div class="col-lg-12">
							<div class="alert alert-{{response.status}}" ng-show="response && response.message">
								<p>{{response.message}}</p>
							</div>
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-lg-2 control-label" for="email">Email</label>
				        <div class="col-lg-10">
							<input type="text" placeholder="Il tuo username o email" name="email"
								id="email" class="form-control" 
								ng-model="params.email" required>
							<div class="text-warning" 
								ng-show="passwordrecovery.email.$dirty && passwordrecovery.email.$invalid">
							    <p ng-repeat="item in passwordrecovery.email.messages">
									{{item}}
								</p>
							</div>
				        </div>
					</div>

					<div class="form-group">
						<div class="col-lg-offset-2 col-lg-4 col-md-4 col-sd-4 col-xs-6">
							<input type="hidden" name="action" ng-model="params.action" />
							<input type="hidden" name="csrf" ng-model="params.csrf" />
							<button class="btn btn-default" type="submit">Invia</button>
						</div>
					</div>
					
				</form>
			</div>
		</div>
	</div>
</div>