<div class="row">
	<div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
			
		<div class="panel panel-primary searchlist">
		  	
		  	<div class="panel-heading">
				<ul class="breadcrumb">
				    <li>
				        <a href="/">Home</a>
				        <span class="divider"></span>
				    </li>
				    <li>
				        <a href="/account.html">I miei annunci</a>
				        <span class="divider"></span>
				    </li>
				</ul>
		  	</div>
		  	
		  	<div class="panel-body">
		  	
		  		<account-menu></account-menu>

		  		<hr />
		  		<div class="spinner" ng-hide="resource.data">
					<div class="progress progress-striped active">
						<div class="progress-bar"  role="progressbar" 
							aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
							<span class="sr-only"></span>
						</div>
					</div>
				</div>
				
				<div class="row {{item.cssClass}}" ng-repeat='item in resource.data'>
					<div class="col-lg-1">
						<input class="full-check" ng-dblclick="fullCheck($event)" id="{{item.hashId}}" type="checkbox" value="" />
					</div>
					
					<div class="col-lg-2">
						<a ng-href='{{item.editaddress}}' class="thumbnail"><img 
							class="{{item.image.class}}" 
							alt="{{item.image.alt}}" 
							ng-src="{{item.image.src}}" 
							/></a>
					</div>

					<!--  hidden xs here -->
					<div class="col-lg-6">
						<span>Titolo: <a ng-href='{{item.editaddress}}'>{{item.title}}</a></span><br />
						<span>Visite: {{item.visited}}</span><br />
						<span>State: <span class="text-{{item.stateClass}}">{{item.stateFormatted}}</span></span><br />
						<span>Edit user: <a ng-href="/admin/edit-user/{{item.userId}}">Click here</a></span> <br />
						<span>UserEmail: <a ng-href="/admin/user/1/{{item.email}}">{{item.email}}</a></span> <br />
						<span>Totale annunci utente: <a ng-href="/admin/classified/1?full=1&user={{item.userIdNoHash}}">{{item.count}}</a></span> <br />
						<span>Date: {{item.date}}</span>
					</div>
					
					<div class="col-lg-3">
						<div class="btn-group btn-group-justified ng-scope">
							<a ng-click="touch(item)" class="btn btn-primary" title="Riporta l'annuncio in cima!">
								<span class="glyphicon glyphicon-arrow-up"></span>
							</a>
							<a ng-href="{{item.editaddress}}" class="btn btn-success" title="Modifica">
								<span class="glyphicon glyphicon-edit"></span>
							</a>
							<a ng-click="disableEnable(item)" class="btn btn-warning" title="L'annuncio è attivo, clicca per disattivare" ng-show="item.isActive">
								<span class="glyphicon glyphicon-pause"></span>
							</a>
							<a ng-click="disableEnable(item)" class="btn btn-primary" title="L'annuncio è disattivo, clicca per attivare" ng-show="item.isDeactive">
								<span class="glyphicon glyphicon-play"></span>
							</a>
							<a ng-click="delete(item)" class="btn btn-danger delete-classified" title="Elimina">
								<span class="glyphicon glyphicon-remove-sign"></span>
							</a>
						</div>
					</div>
				</div>
				
				
				<div class="row">
					<div class="col-lg-12">
						<div class="btn-group">
							<a class="btn btn-danger" ng-click="deleteSelected()">Elimina gli annunci selezionati</a>
						</div>
					</div>
				</div>
				
			</div>
  		</div>
	</div>
					
	<div class="col-lg-3 col-md-3 col-sm-3 hidden-xs">
		<banner></banner>
	</div>
</div>

<ul class="pagination pagination-lg" ng-show="resource.data">
	<li><span>{{resource.paginationData.message}}</span></li>
	<li class="{{resource.paginationData.previous.class}}">
		<a 
			ng-href="{{resource.paginationData.previous.link}}" 
			ng-click="{{resource.paginationData.previous.onclick}}">
			{{resource.paginationData.previous.label}}
		</a>
	</li>
	
	<li class="{{page.class}}" ng-repeat='page in resource.paginationData.pages'>
		<a ng-href="{{page.link}}">{{page.label}}</a>
	</li>
	
	<li class="{{resource.paginationData.next.class}}">
		<a 
			ng-href="{{resource.paginationData.next.link}}" 
			ng-click="{{resource.paginationData.next.onclick}}">
			{{resource.paginationData.next.label}}
		</a>
	</li>
</ul>