<div class="col-lg-12 col-md-12 col-sm-12 hidden-xs">
	<div class="btn-group btn-group-justified">
		<a class="btn btn-success" href="/account.html">Mio account</a>
		<a class="btn btn-primary" href="/add-classified.html">Inserisci annuncio</a>
		<a class="btn btn-danger" href="/logout.html">Logout</a>
	</div>
</div>
<div class="hidden-lg hidden-md hidden-sm col-xs-12">
	<div class="btn-group btn-group-justified">
		<a class="btn btn-success" href="/account.html">Mio account</a>
	</div>
	<div class="btn-group btn-group-justified">
		<a class="btn btn-primary" href="/add-classified.html">Inserisci annuncio</a>
	</div>
	<div class="btn-group btn-group-justified">
		<a class="btn btn-danger" href="/logout.html">Logout</a>
	</div>
</div>