<div class="panel panel-primary">
	<div class="panel-heading">Transferwise</div>
  	<div class="panel-body">
		<p>Devi trasferire denaro e vuoi evitare le commissioni bancarie? Usa <a href="http://goo.gl/5KQ72S" target="_blank">TransferWise</a>.</p>
  	</div>  
</div>	

<div class="panel panel-primary">
	<div class="panel-heading">Importa annunci</div>
	<div class="panel-body">
		<p>Hai molti annunci da importare e non vuoi perdere tempo? 
		Chiedici informazioni su come fare all'indirizzo <strong>info@neobazaar.com</strong> o 
		tramite la pagina di <a href="/support.html">supporto</a>, se lo possiedi già 
		è possibile utilizzare il tuo feed RSS con i tuoi prodotti.
              Il servizio di importazione è completamente gratuito!</p>
  	</div>
</div>