<div class="container header-home">
	<div class="row">
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 logo">
			<a href="/" id="logoBtn"><img src="/img/logo.png" /></a>
		</div>
		
		<div class="col-lg-4 col-md-4 col-sm-3 col-xs-3">
			&nbsp;
		</div>
		
		<div class="col-lg-4 col-md-4 col-sm-5 col-xs-5">
			<div class="btn-group btn-group-justified">
			  <a id="loginBtn" class="btn btn-default" href="/login.html">Login</a>
			  <a id="registerBtn" class="btn btn-default" href="/register.html">Registrati</a>
			</div>
		</div>
	</div>
</div>
