<div class="row">
	<div class="col-lg-4 col-md-4 col-sm-4 visible-lg visible-md visible-sm">
		<div class="btn-group btn-group-justified add-classified">
			<a class="btn btn-primary" href="/pubblica-annuncio.html">
				Inserisci un Annuncio
			</a>
		</div>
		
		<div class="home-box">
			<ul class="list-group">
				<li class="list-group-item">
					<h4>&raquo;  <a href="/annunci-italia/ricerca/usato">Compra</a></h4>
				</li>
				<li class="list-group-item">
					<h4>&raquo; <a href="/annunci-italia/vendita/usato">Vendi</a></h4>
				</li>
				<li class="list-group-item">
					<h4>&raquo; <a href="/annunci-italia/compravendita/usato?query=scambio">Scambia</a></h4>
				</li>
				<li class="list-group-item btn-group-justified">
					<a href="/annunci-italia/compravendita/usato" class="btn btn-primary btn-lg">In tutta Italia</a>
				</li>
			</ul>
		</div>
	</div>

	<div class="col-lg-4 col-lg-offset-1 col-md-4 col-md-offset-1 col-sm-5 col-xs-12">
		<div id="mapIta">
			<div style="background-image: url('/img/regioni/none.gif'); 
				background-repeat: no-repeat;" id="mapReg">
				<img src="/img/transparent.gif" alt="" usemap="#Italia">
			</div>
		</div>
	
		<map name="Italia" id="Map">
			<area shape="poly" ng-mouseover="changeImage( 1, true )" ng-mouseout="changeImage( 1, false );" coords="203,191,185,165,170,173,165,197,173,210,180,210,198,204,205,199" href="/annunci-abruzzo/compravendita/usato" title="Annunci Abruzzo">
			<area shape="poly" ng-mouseover="changeImage( 6, true )" ng-mouseout="changeImage( 6, false );" coords="259,272,263,263,256,247,250,252,240,236,229,238,224,250,234,268,231,278,247,277" href="/annunci-basilicata/compravendita/usato" title="Annunci Basilicata">
			<area shape="poly" ng-mouseover="changeImage( 11, true )" ng-mouseout="changeImage( 11, false );" coords="258,274,259,280,259,286,273,292,277,315,262,325,259,335,248,354,237,356,231,350,235,338,238,324,247,317,231,278" href="/annunci-calabria/compravendita/usato" title="Annunci Calabria">
			<area shape="poly" ng-mouseover="changeImage( 16, true )" ng-mouseout="changeImage( 16, false );" coords="214,227,226,238,223,250,234,268,230,278,225,278,208,271,208,256,198,259,191,251,179,237,184,227" href="/annunci-campania/compravendita/usato" title="Annunci Campania">
			<area shape="poly" ng-mouseover="changeImage( 2, true )" ng-mouseout="changeImage( 2, false );" coords="152,119,141,92,129,84,121,87,112,85,66,78,60,92,69,100,99,112,116,111,125,123,137,120,144,125" href="/annunci-emilia-romagna/compravendita/usato" title="Annunci Emilia Romagna">
			<area shape="poly" ng-mouseover="changeImage( 7, true )" ng-mouseout="changeImage( 7, false );" coords="193,64,187,52,185,41,188,28,168,25,158,49,169,62" href="/annunci-friuli-venezia-giulia/compravendita/usato" title="Annunci Friuli Venezia Giulia">
			<area shape="poly" ng-mouseover="changeImage( 12, true )" ng-mouseout="changeImage( 12, false );" coords="168,168,164,192,170,204,180,205,184,216,178,225,162,224,146,218,114,183,129,168,147,178" href="/annunci-lazio/compravendita/usato" title="Annunci Lazio">
			<area shape="poly" ng-mouseover="changeImage( 17, true )" ng-mouseout="changeImage( 17, false );" coords="92,118,72,98,58,93,37,100,17,114,16,124,27,122,50,104" href="/annunci-liguria/compravendita/usato" title="Annunci Liguria">
			<area shape="poly" ng-mouseover="changeImage( 3, true )" ng-mouseout="changeImage( 3, false );" coords="121,75,103,52,105,43,101,16,56,28,55,63,65,78,71,68,101,75" href="/annunci-lombardia/compravendita/usato" title="Annunci Lombardia">
			<area shape="poly" ng-mouseover="changeImage( 8, true )" ng-mouseout="changeImage( 8, false );" coords="181,158,176,136,161,127,146,136,152,140,157,156,169,167" href="/annunci-marche/compravendita/usato" title="Annunci Marche">
			<area shape="poly" ng-mouseover="changeImage( 13, true )" ng-mouseout="changeImage( 13, false );" coords="223,203,214,220,202,224,187,222,183,210,198,205,207,194" href="/annunci-molise/compravendita/usato" title="Annunci Molise">
			<area shape="poly" ng-mouseover="changeImage( 18, true )" ng-mouseout="changeImage( 18, false );" coords="54,32,53,32,53,34,50,45,53,58,51,67,63,82,38,90,22,105,0,89,-2,65,10,54,34,48,35,33,44,19" href="/annunci-piemonte/compravendita/usato" title="Annunci Piemonte">
			<area shape="poly" ng-mouseover="changeImage( 4, true )" ng-mouseout="changeImage( 4, false );" coords="225,202,244,200,246,209,240,214,311,256,306,278,287,262,277,261,262,255,255,243,249,244,237,231,228,233,215,222" href="/annunci-puglia/compravendita/usato" title="Annunci Puglia">
			<area shape="poly" ng-mouseover="changeImage( 9, true )" ng-mouseout="changeImage( 9, false );" coords="63,286,70,258,75,235,60,207,27,219,26,232,31,288,44,297,52,281" href="/annunci-sardegna/compravendita/usato" title="Annunci Sardegna">
			<area shape="poly" ng-mouseover="changeImage( 14, true )" ng-mouseout="changeImage( 14, false );" coords="149,344,166,341,180,348,223,340,227,345,221,370,227,385,221,394,200,394,180,384,139,363" href="/annunci-sicilia/compravendita/usato" title="Annunci Sicilia">
			<area shape="poly" ng-mouseover="changeImage( 19, true )" ng-mouseout="changeImage( 19, false );" coords="110,181,98,163,89,135,85,119,77,104,123,116,131,127,143,125,149,130,138,144,134,152,134,163" href="/annunci-toscana/compravendita/usato" title="Annunci Toscana">
			<area shape="poly" ng-mouseover="changeImage( 5, true )" ng-mouseout="changeImage( 5, false );" coords="158,23,138,43,132,36,112,46,100,12,121,4,143,3" href="/annunci-trentino-alto-adige/compravendita/usato" title="Annunci Trentino Alto Adige">
			<area shape="poly" ng-mouseover="changeImage( 10, true )" ng-mouseout="changeImage( 10, false );" coords="168,170,157,162,154,147,144,144,133,170,145,181,154,180" href="/annunci-umbria/compravendita/usato" title="Annunci Umbria">
			<area shape="poly" ng-mouseover="changeImage( 15, true )" ng-mouseout="changeImage( 15, false );" coords="35,48,34,34,4,34,9,60" href="/annunci-valle-daosta/compravendita/usato" title="Annunci Valle D'aosta">
			<area shape="poly" ng-mouseover="changeImage( 20, true )" ng-mouseout="changeImage( 20, false );" coords="152,88,125,82,110,63,115,53,135,43,137,33,157,20,167,22,155,42,160,55,170,54,148,76" href="/annunci-veneto/compravendita/usato" title="Annunci Veneto">
		</map>
	</div>
	
	<div class="col-lg-3 col-md-3 col-sm-3 hidden-xs">
		<ul class="adm1">
			<li><a id="italy" title="annunci gratuiti italia" href="/annunci-italia/compravendita/usato" ng-mouseout="changeAllImages(false,'')" ng-mouseover="changeAllImages(true,'')">Tutta Italia</a></li>
			<li><a title="annunci gratuiti Abruzzo" href="/annunci-abruzzo/compravendita/usato" name="myReg_1" ng-mouseout="changeImage( 1, false )" ng-mouseover="changeImage( 1, true )">Abruzzo </a></li>
			<li><a title="annunci gratuiti Basilicata" href="/annunci-basilicata/compravendita/usato" name="myReg_6" ng-mouseout="changeImage( 6, false )" ng-mouseover="changeImage( 6, true )">Basilicata </a></li>
			<li><a title="annunci gratuiti Calabria" href="/annunci-calabria/compravendita/usato" name="myReg_11" ng-mouseout="changeImage( 11, false )" ng-mouseover="changeImage( 11, true )">Calabria </a></li>
			<li><a title="annunci gratuiti Campania" href="/annunci-campania/compravendita/usato" name="myReg_16" ng-mouseout="changeImage( 16, false )" ng-mouseover="changeImage( 16, true )">Campania </a></li>
			<li><a title="annunci gratuiti Emilia Romagna" href="/annunci-emilia-romagna/compravendita/usato" name="myReg_2" ng-mouseout="changeImage( 2, false )" ng-mouseover="changeImage( 2, true )">Emilia Romagna </a></li>
			<li><a title="annunci gratuiti Friuli Venezia Giulia" href="/annunci-friuli-venezia-giulia/compravendita/usato" name="myReg_7" ng-mouseout="changeImage( 7, false )" ng-mouseover="changeImage( 7, true )">Friuli Venezia Giulia </a></li>
			<li><a title="annunci gratuiti Lazio" href="/annunci-lazio/compravendita/usato" name="myReg_12" ng-mouseout="changeImage( 12, false )" ng-mouseover="changeImage( 12, true )">Lazio </a></li>
			<li><a title="annunci gratuiti Liguria" href="/annunci-liguria/compravendita/usato" name="myReg_17" ng-mouseout="changeImage( 17, false )" ng-mouseover="changeImage( 17, true )">Liguria </a></li>
			<li><a title="annunci gratuiti Lombardia" href="/annunci-lombardia/compravendita/usato" name="myReg_3" ng-mouseout="changeImage( 3, false )" ng-mouseover="changeImage( 3, true )">Lombardia </a></li>
			<li><a title="annunci gratuiti Marche" href="/annunci-marche/compravendita/usato" name="myReg_8" ng-mouseout="changeImage( 8, false )" ng-mouseover="changeImage( 8, true )">Marche </a></li>
			<li><a title="annunci gratuiti Molise" href="/annunci-molise/compravendita/usato" name="myReg_13" ng-mouseout="changeImage( 13, false )" ng-mouseover="changeImage( 13, true )">Molise </a></li>
			<li><a title="annunci gratuiti Piemonte" href="/annunci-piemonte/compravendita/usato" name="myReg_18" ng-mouseout="changeImage( 18, false )" ng-mouseover="changeImage( 18, true )">Piemonte </a></li>
			<li><a title="annunci gratuiti Puglia" href="/annunci-puglia/compravendita/usato" name="myReg_4" ng-mouseout="changeImage( 4, false )" ng-mouseover="changeImage( 4, true )">Puglia </a></li>
			<li><a title="annunci gratuiti Sardegna" href="/annunci-sardegna/compravendita/usato" name="myReg_9" ng-mouseout="changeImage( 9, false )" ng-mouseover="changeImage( 9, true )">Sardegna </a></li>
			<li><a title="annunci gratuiti Sicilia" href="/annunci-sicilia/compravendita/usato" name="myReg_14" ng-mouseout="changeImage( 14, false )" ng-mouseover="changeImage( 14, true )">Sicilia </a></li>
			<li><a title="annunci gratuiti Toscana" href="/annunci-toscana/compravendita/usato" name="myReg_19" ng-mouseout="changeImage( 19, false )" ng-mouseover="changeImage( 19, true )">Toscana </a></li>
			<li><a title="annunci gratuiti Trentino Alto Adige" href="/annunci-trentino-alto-adige/compravendita/usato" name="myReg_5" ng-mouseout="changeImage( 5, false )" ng-mouseover="changeImage( 5, true )">Trentino Alto Adige </a></li>
			<li><a title="annunci gratuiti Umbria" href="/annunci-umbria/compravendita/usato" name="myReg_10" ng-mouseout="changeImage( 10, false )" ng-mouseover="changeImage( 10, true )">Umbria </a></li>
			<li><a title="annunci gratuiti Valle D'aosta" href="/annunci-valle-daosta/compravendita/usato" name="myReg_15" ng-mouseout="changeImage( 15, false )" ng-mouseover="changeImage( 15, true )">Valle D'aosta </a></li>
			<li><a title="annunci gratuiti Veneto" href="/annunci-veneto/compravendita/usato" name="myReg_20" ng-mouseout="changeImage( 20, false )" ng-mouseover="changeImage( 20, true )">Veneto </a></li>
		</ul>
	</div>
	
	<div class="hidden-lg hidden-md hidden-sm col-xs-12">
		<div class="row">
			<div class="hidden-lg hidden-md hidden-sm col-xs-4">
				<a title="annunci gratuiti Abruzzo" href="/annunci-abruzzo/compravendita/usato" 
					class="btn btn-default btn-xs"
					name="myReg_1" ng-mouseout="changeImage( 1, false )" 
					ng-mouseover="changeImage( 1, true )">
					<span class="glyphicon glyphicon-chevron-right"></span>
					Abruzzo </a>
			</div>
				
			<div class="hidden-lg hidden-md hidden-sm col-xs-4">
				<a title="annunci gratuiti Basilicata" href="/annunci-basilicata/compravendita/usato" 
					class="btn btn-default btn-xs"
					name="myReg_6" ng-mouseout="changeImage( 6, false )" 
					ng-mouseover="changeImage( 6, true )">
					<span class="glyphicon glyphicon-chevron-right"></span>
					Basilicata </a>
			</div>
				
			<div class="hidden-lg hidden-md hidden-sm col-xs-4">
				<a title="annunci gratuiti Calabria" href="/annunci-calabria/compravendita/usato" 
					class="btn btn-default btn-xs"
					name="myReg_11" ng-mouseout="changeImage( 11, false )" 
					ng-mouseover="changeImage( 11, true )">
					<span class="glyphicon glyphicon-chevron-right"></span>
					Calabria</a>
			</div>
		</div>
	</div>
</div>